In [54]:
# behave like a normal kernel plz
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plot inline
%matplotlib inline

In [55]:
import pandas as pd
gene2pubmed = pd.read_table("data/genbank-data/gene2pubmed", sep = "\t")
list(gene2pubmed) # hmm.. the weird # in column header is going to come to bite me if I don't replace it right away !

gene2pubmed.rename(columns={'#tax_id':'tax_id'}, inplace=True)
list(gene2pubmed)

gene2pubmed.head()

['#tax_id', 'GeneID', 'PubMed_ID']

['tax_id', 'GeneID', 'PubMed_ID']

   tax_id   GeneID  PubMed_ID
0       9  1246500    9873079
1       9  1246501    9873079
2       9  1246502    9812361
3       9  1246502    9873079
4       9  1246503    9873079

## Get list of taxid's to (a) get their lineage; (b) Restrict the list to bacteria and finally (c) subset gene2pubmed table to bacteria only entries

In [10]:
txidOnly = gene2pubmed.tax_id.unique()
type(txidOnly)
txidOnly[0:5]
len(txidOnly)

numpy.ndarray

array([  9,  33, 139, 140, 158])

13950

In [74]:
txidtest = txidOnly[0:10000]

In [155]:
import sqlite3
con = sqlite3.connect("NameNode.sqlite")   
Dummymaster = pd.DataFrame(columns=("species","genus","family","order","class","phylum","superkingdom","norank"))
count = 0
#txidtest = txidOnly[4948:5000]
#for tid in txidtest:
for tid in txidOnly:
    ntid = int(tid)
    
    #print(tid)
    df = pd.read_sql_query("SELECT tax_id, name_txt,parent_tax_id, rank FROM NcbiNameNode WHERE tax_id == ? AND name_class == 'scientific name'", con=con, params = (ntid,))
    if df.size == 0:
        print(str(tid) + " check !!")
        count += 1
        continue

175128 check !!
618424 check !!
618637 check !!
675577 check !!
707310 check !!
886957 check !!
886958 check !!
886959 check !!
886960 check !!
886961 check !!
886963 check !!
886966 check !!
886967 check !!
886968 check !!
945028 check !!
1263171 check !!
1333989 check !!
1347737 check !!
1347739 check !!
1351828 check !!
1513278 check !!
1548719 check !!
1565112 check !!
1661584 check !!
1671078 check !!
1671114 check !!
1678146 check !!
1685502 check !!
1715887 check !!
1715890 check !!
1715891 check !!
1715894 check !!
1715900 check !!
1715998 check !!
1715999 check !!
1716000 check !!
1716002 check !!
1716003 check !!
1716004 check !!
1716006 check !!
1716010 check !!
1716011 check !!
1716012 check !!
1716013 check !!
1716014 check !!
1716016 check !!
1716017 check !!
1716018 check !!
1716019 check !!
1716020 check !!
1716021 check !!
1716022 check !!
1716023 check !!
1716024 check !!
1716025 check !!
1716026 check !!
1716027 check !!
1716028 check !!
1716029 check !!
1716030 check !!
1716031 check !!
1716032 check !!
1716033 check !!
1716034 check !!
1716035 check !!
1716036 check !!
1716037 check !!
1716038 check !!
1716039 check !!
1735015 check !!
1735722 check !!
1737555 check !!
1740646 check !!
1779340 check !!
1795648 check !!
1803956 check !!
1811408 check !!
1813613 check !!
1813615 check !!
1821576 check !!
1826822 check !!
1835702 check !!
1841195 check !!
1841838 check !!
1846259 check !!
1847751 check !!
1848150 check !!
1848151 check !!
1848152 check !!
1848153 check !!
1849328 check !!
1849335 check !!
1849531 check !!
1849532 check !!
1849533 check !!
1849534 check !!
1849535 check !!
1849537 check !!
1849539 check !!
1849542 check !!
1849543 check !!
1849544 check !!
1849545 check !!
1851087 check !!
1852629 check !!
1855823 check !!
1859058 check !!
1859061 check !!
1859492 check !!
1862958 check !!
1862959 check !!
1862960 check !!
1862961 check !!
1862962 check !!
1863030 check !!
1867943 check !!
1868221 check !!
1868658 check !!
1869111 check !!
1871153 check !!
1872708 check !!
1872710 check !!
1872719 check !!
1873455 check !!
1873524 check !!
1873698 check !!
1874639 check !!
1874760 check !!
1881013 check !!
1881951 check !!
1883365 check !!
1883366 check !!
1883367 check !!
1883368 check !!
1883369 check !!
1884681 check !!
1884832 check !!
1884879 check !!
1884917 check !!
1884991 check !!
1885248 check !!
1885927 check !!
1885928 check !!
1885929 check !!
1886606 check !!
1890365 check !!
1891704 check !!
1891719 check !!
1891720 check !!
1891729 check !!
1891735 check !!
1891736 check !!
1891737 check !!
1891738 check !!
1891739 check !!
1891754 check !!
1891758 check !!
1891761 check !!
1891762 check !!
1891764 check !!
1891767 check !!
1891768 check !!
1891769 check !!
1891770 check !!
1891972 check !!
1895000 check !!
1895333 check !!
1897774 check !!
1898060 check !!
1898412 check !!
1898749 check !!
1899343 check !!
1899344 check !!
1899566 check !!
1902834 check !!
1903340 check !!
1904408 check !!
1904409 check !!
1904410 check !!
1904411 check !!
1904439 check !!
1906136 check !!
1906317 check !!
1906388 check !!
1906499 check !!
1906668 check !!
1907767 check !!
1907771 check !!
1908804 check !!
1908806 check !!
1908807 check !!
1908808 check !!
1908811 check !!
1908813 check !!
1909206 check !!
1911538 check !!
1911539 check !!
1911541 check !!
1911544 check !!
1911545 check !!
1911547 check !!
1911555 check !!
1911934 check !!
1911935 check !!
1912598 check !!
1912903 check !!
1913124 check !!
1913125 check !!
1913189 check !!
1914154 check !!
1914271 check !!
1914393 check !!
1914395 check !!
1914442 check !!
1914573 check !!
1914940 check !!
1914941 check !!
1915067 check !!
1917232 check !!
1917734 check !!
1918014 check !!
1919062 check !!
1919083 check !!
1920007 check !!
1920185 check !!
1920748 check !!
1920772 check !!
1920999 check !!
1921008 check !!
1921825 check !!
1922350 check !!
1922351 check !!
1922352 check !!
1922353 check !!
1922354 check !!
1922355 check !!
1922356 check !!
1922357 check !!
1922359 check !!
1922360 check !!
1922361 check !!
1922362 check !!
1922365 check !!
1922366 check !!
1922367 check !!
1922368 check !!
1922370 check !!
1922376 check !!
1922377 check !!
1922378 check !!
1922379 check !!
1922381 check !!
1922385 check !!
1922386 check !!
1922387 check !!
1922388 check !!
1922390 check !!
1922391 check !!
1922392 check !!
1922393 check !!
1922428 check !!
1922429 check !!
1922430 check !!
1922431 check !!
1922432 check !!
1922433 check !!
1922434 check !!
1922435 check !!
1922436 check !!
1922437 check !!
1922438 check !!
1922439 check !!
1922440 check !!
1922441 check !!
1922442 check !!
1922443 check !!
1922444 check !!
1922445 check !!
1922446 check !!
1922447 check !!
1922448 check !!
1922449 check !!
1922450 check !!
1922451 check !!
1922452 check !!
1922454 check !!
1922455 check !!
1922456 check !!
1922458 check !!
1922460 check !!
1922461 check !!
1922464 check !!
1922471 check !!
1922483 check !!
1922487 check !!
1922492 check !!
1922493 check !!
1922496 check !!
1922497 check !!
1922498 check !!
1922499 check !!
1922504 check !!
1922513 check !!
1922524 check !!
1922525 check !!
1922527 check !!
1922528 check !!
1922529 check !!
1922530 check !!
1922531 check !!
1922532 check !!
1922533 check !!
1922534 check !!
1922535 check !!
1922536 check !!
1922538 check !!
1922539 check !!
1922540 check !!
1922541 check !!
1922542 check !!
1922543 check !!
1922544 check !!
1922545 check !!
1922546 check !!
1922547 check !!
1922548 check !!
1922549 check !!
1922550 check !!
1922551 check !!
1922552 check !!
1922553 check !!
1922554 check !!
1922556 check !!
1922557 check !!
1922558 check !!
1922559 check !!
1922560 check !!
1922561 check !!
1922562 check !!
1922563 check !!
1922564 check !!
1922566 check !!
1922567 check !!
1922569 check !!
1922570 check !!
1922571 check !!
1922573 check !!
1922575 check !!
1922576 check !!
1922578 check !!
1922582 check !!
1922583 check !!
1922584 check !!
1922585 check !!
1922586 check !!
1922587 check !!
1922588 check !!
1922589 check !!
1922590 check !!
1922591 check !!
1922592 check !!
1922593 check !!
1922594 check !!
1922595 check !!
1922596 check !!
1922597 check !!
1922598 check !!
1922599 check !!
1922600 check !!
1922601 check !!
1922602 check !!
1922603 check !!
1922604 check !!
1922605 check !!
1922606 check !!
1922607 check !!
1922608 check !!
1922609 check !!
1922610 check !!
1922611 check !!
1922612 check !!
1922613 check !!
1922614 check !!
1922615 check !!
1922616 check !!
1922617 check !!
1922618 check !!
1922619 check !!
1922620 check !!
1922621 check !!
1922622 check !!
1922624 check !!
1922626 check !!
1922627 check !!
1922628 check !!
1922629 check !!
1922630 check !!
1922631 check !!
1922632 check !!
1922633 check !!
1922634 check !!
1922636 check !!
1922637 check !!
1922638 check !!
1922639 check !!
1922641 check !!
1922644 check !!
1922645 check !!
1922646 check !!
1922647 check !!
1922648 check !!
1922651 check !!
1922652 check !!
1922654 check !!
1922655 check !!
1922656 check !!
1922657 check !!
1922658 check !!
1922659 check !!
1922660 check !!
1922661 check !!
1922662 check !!
1922663 check !!
1922664 check !!
1922666 check !!
1922667 check !!
1922668 check !!
1922669 check !!
1922670 check !!
1922671 check !!
1922672 check !!
1922673 check !!
1922674 check !!
1922675 check !!
1922676 check !!
1922677 check !!
1922678 check !!
1922680 check !!
1922681 check !!
1922682 check !!
1922683 check !!
1922684 check !!
1922685 check !!
1922686 check !!
1922687 check !!
1922688 check !!
1922689 check !!
1922690 check !!
1922691 check !!
1922692 check !!
1922693 check !!
1922694 check !!
1922695 check !!
1922696 check !!
1922697 check !!
1922698 check !!
1922699 check !!
1922700 check !!
1922701 check !!
1922702 check !!
1922703 check !!
1922704 check !!
1922705 check !!
1922706 check !!
1922707 check !!
1922708 check !!
1922709 check !!
1922710 check !!
1922711 check !!
1922712 check !!
1922713 check !!
1922714 check !!
1922715 check !!
1922716 check !!
1922717 check !!
1922718 check !!
1922719 check !!
1922720 check !!
1922721 check !!
1922722 check !!
1922723 check !!
1922724 check !!
1922725 check !!
1922726 check !!
1922728 check !!
1922729 check !!
1922730 check !!
1922734 check !!
1922736 check !!
1922737 check !!
1922738 check !!
1922740 check !!
1922741 check !!
1922742 check !!
1922743 check !!
1922744 check !!
1922745 check !!
1922746 check !!
1922748 check !!
1922749 check !!
1922750 check !!
1922751 check !!
1922752 check !!
1922753 check !!
1922754 check !!
1922755 check !!
1922756 check !!
1922757 check !!
1922758 check !!
1922759 check !!
1922760 check !!
1922761 check !!
1922764 check !!
1922765 check !!
1922766 check !!
1922767 check !!
1922768 check !!
1922769 check !!
1922770 check !!
1922771 check !!
1922772 check !!
1922776 check !!
1922777 check !!
1922778 check !!
1922779 check !!
1922782 check !!
1922783 check !!
1922784 check !!
1922785 check !!
1922786 check !!
1922787 check !!
1922788 check !!
1922789 check !!
1922791 check !!
1922792 check !!
1922793 check !!
1922794 check !!
1922795 check !!
1922796 check !!
1922797 check !!
1922798 check !!
1922799 check !!
1922800 check !!
1922801 check !!
1922802 check !!
1922803 check !!
1922804 check !!
1922805 check !!
1922807 check !!
1922808 check !!
1922809 check !!
1922810 check !!
1922811 check !!
1922812 check !!
1922813 check !!
1922814 check !!
1922815 check !!
1922816 check !!
1922817 check !!
1922818 check !!
1922819 check !!
1922820 check !!
1922821 check !!
1922822 check !!
1922823 check !!
1922824 check !!
1922826 check !!
1922827 check !!
1922832 check !!
1922833 check !!
1922835 check !!
1922836 check !!
1922837 check !!
1922857 check !!
1922858 check !!
1922860 check !!
1922861 check !!
1922862 check !!
1922866 check !!
1922867 check !!
1922868 check !!
1922870 check !!
1922871 check !!
1922872 check !!
1922873 check !!
1922874 check !!
1922875 check !!
1922876 check !!
1922877 check !!
1922878 check !!
1922879 check !!
1922883 check !!
1922884 check !!
1922885 check !!
1922886 check !!
1922889 check !!
1922892 check !!
1922893 check !!
1922894 check !!
1922895 check !!
1922896 check !!
1922898 check !!
1922899 check !!
1922900 check !!
1922901 check !!
1922902 check !!
1922903 check !!
1922904 check !!
1922905 check !!
1922922 check !!
1922923 check !!
1922925 check !!
1922926 check !!
1922927 check !!
1922928 check !!
1922930 check !!
1922931 check !!
1922932 check !!
1922933 check !!
1922934 check !!
1922936 check !!
1922937 check !!
1922938 check !!
1922941 check !!
1922942 check !!
1922943 check !!
1922945 check !!
1922947 check !!
1922948 check !!
1922949 check !!
1922950 check !!
1922952 check !!
1922953 check !!
1922954 check !!
1922955 check !!
1922956 check !!
1922957 check !!
1922958 check !!
1922959 check !!
1922960 check !!
1922962 check !!
1922972 check !!
1922988 check !!
1922989 check !!
1922990 check !!
1922991 check !!
1922992 check !!
1922993 check !!
1922997 check !!
1922998 check !!
1922999 check !!
1923000 check !!
1923001 check !!
1923002 check !!
1923003 check !!
1923004 check !!
1923009 check !!
1923011 check !!
1923012 check !!
1923013 check !!
1923017 check !!
1923073 check !!
1923074 check !!
1923075 check !!
1923076 check !!
1923077 check !!
1923078 check !!
1923079 check !!
1923080 check !!
1923081 check !!
1923082 check !!
1923083 check !!
1923088 check !!
1923089 check !!
1923090 check !!
1923091 check !!
1923092 check !!
1923093 check !!
1923094 check !!
1923095 check !!
1923096 check !!
1923097 check !!
1923099 check !!
1923100 check !!
1923101 check !!
1923102 check !!
1923104 check !!
1923105 check !!
1923106 check !!
1923107 check !!
1923108 check !!
1923109 check !!
1923110 check !!
1923111 check !!
1923112 check !!
1923113 check !!
1923114 check !!
1923115 check !!
1923116 check !!
1923117 check !!
1923118 check !!
1923119 check !!
1923120 check !!
1923121 check !!
1923122 check !!
1923123 check !!
1923124 check !!
1923125 check !!
1923126 check !!
1923127 check !!
1923128 check !!
1923129 check !!
1923130 check !!
1923131 check !!
1923132 check !!
1923133 check !!
1923134 check !!
1923135 check !!
1923136 check !!
1923137 check !!
1923138 check !!
1923140 check !!
1923141 check !!
1923142 check !!
1923143 check !!
1923144 check !!
1923145 check !!
1923146 check !!
1923147 check !!
1923148 check !!
1923149 check !!
1923150 check !!
1923151 check !!
1923152 check !!
1923153 check !!
1923154 check !!
1923155 check !!
1923156 check !!
1923157 check !!
1923158 check !!
1923159 check !!
1923160 check !!
1923161 check !!
1923162 check !!
1923163 check !!
1923164 check !!
1923165 check !!
1923166 check !!
1923167 check !!
1923168 check !!
1923169 check !!
1923170 check !!
1923185 check !!
1923186 check !!
1923187 check !!
1923188 check !!
1923191 check !!
1923193 check !!
1923194 check !!
1923195 check !!
1923196 check !!
1923197 check !!
1923198 check !!
1923199 check !!
1923200 check !!
1923201 check !!
1923203 check !!
1923204 check !!
1923205 check !!
1923206 check !!
1923208 check !!
1923209 check !!
1923210 check !!
1923211 check !!
1923212 check !!
1923213 check !!
1923214 check !!
1923215 check !!
1923216 check !!
1923217 check !!
1923218 check !!
1923219 check !!
1923220 check !!
1923221 check !!
1923222 check !!
1923223 check !!
1923224 check !!
1923225 check !!
1923228 check !!
1923229 check !!
1923230 check !!
1923231 check !!
1923232 check !!
1923233 check !!
1923234 check !!
1923235 check !!
1923236 check !!
1923237 check !!
1923238 check !!
1923239 check !!
1923240 check !!
1923241 check !!
1923242 check !!
1923243 check !!
1923244 check !!
1923245 check !!
1923246 check !!
1923247 check !!
1923248 check !!
1923249 check !!
1923250 check !!
1923252 check !!
1923253 check !!
1923254 check !!
1923255 check !!
1923256 check !!
1923257 check !!
1923258 check !!
1923259 check !!
1923260 check !!
1923261 check !!
1923262 check !!
1923263 check !!
1923264 check !!
1923265 check !!
1923266 check !!
1923267 check !!
1923268 check !!
1923269 check !!
1923270 check !!
1923271 check !!
1923272 check !!
1923273 check !!
1923274 check !!
1923275 check !!
1923276 check !!
1923277 check !!
1923278 check !!
1923279 check !!
1923280 check !!
1923281 check !!
1923282 check !!
1923284 check !!
1923285 check !!
1923286 check !!
1923287 check !!
1923288 check !!
1923289 check !!
1923290 check !!
1923291 check !!
1923292 check !!
1923293 check !!
1923294 check !!
1923295 check !!
1923296 check !!
1923298 check !!
1923300 check !!
1923301 check !!
1923303 check !!
1923304 check !!
1923305 check !!
1923306 check !!
1923307 check !!
1923308 check !!
1923309 check !!
1923310 check !!
1923313 check !!
1923316 check !!
1923320 check !!
1923321 check !!
1923322 check !!
1923323 check !!
1923324 check !!
1923326 check !!
1923327 check !!
1923330 check !!
1923331 check !!
1923332 check !!
1923333 check !!
1923335 check !!
1923336 check !!
1923338 check !!
1923340 check !!
1923342 check !!
1923343 check !!
1923344 check !!
1923345 check !!
1923350 check !!
1923351 check !!
1923354 check !!
1923355 check !!
1923356 check !!
1923357 check !!
1923358 check !!
1923360 check !!
1923365 check !!
1923366 check !!
1923367 check !!
1923368 check !!
1923369 check !!
1923370 check !!
1923371 check !!
1923372 check !!
1923373 check !!
1923374 check !!
1923377 check !!
1923378 check !!
1923380 check !!
1923381 check !!
1923382 check !!
1923383 check !!
1923384 check !!
1923385 check !!
1923386 check !!
1923387 check !!
1923388 check !!
1923389 check !!
1923390 check !!
1923391 check !!
1923392 check !!
1923393 check !!
1923394 check !!
1923397 check !!
1923398 check !!
1923399 check !!
1923400 check !!
1923401 check !!
1923403 check !!
1923404 check !!
1923405 check !!
1923406 check !!
1923407 check !!
1923408 check !!
1923409 check !!
1923414 check !!
1923415 check !!
1923416 check !!
1923417 check !!
1923418 check !!
1923419 check !!
1923420 check !!
1923421 check !!
1923422 check !!
1923423 check !!
1923425 check !!
1923429 check !!
1923430 check !!
1923431 check !!
1923433 check !!
1923435 check !!
1923439 check !!
1923440 check !!
1923441 check !!
1923442 check !!
1923443 check !!
1923444 check !!
1923445 check !!
1923446 check !!
1923447 check !!
1923448 check !!
1923449 check !!
1923450 check !!
1923451 check !!
1923452 check !!
1923453 check !!
1923454 check !!
1923455 check !!
1923456 check !!
1923457 check !!
1923460 check !!
1923463 check !!
1923464 check !!
1923466 check !!
1923467 check !!
1923468 check !!
1923469 check !!
1923470 check !!
1923474 check !!
1923475 check !!
1923476 check !!
1923477 check !!
1923478 check !!
1923479 check !!
1923480 check !!
1923481 check !!
1923482 check !!
1923483 check !!
1923484 check !!
1923485 check !!
1923486 check !!
1923487 check !!
1923488 check !!
1923489 check !!
1923492 check !!
1923493 check !!
1923494 check !!
1923495 check !!
1923496 check !!
1923501 check !!
1923502 check !!
1923503 check !!
1923504 check !!
1923505 check !!
1923507 check !!
1923509 check !!
1923510 check !!
1923529 check !!
1923530 check !!
1923531 check !!
1923532 check !!
1923533 check !!
1923534 check !!
1923535 check !!
1923536 check !!
1923537 check !!
1923540 check !!
1923541 check !!
1923542 check !!
1923543 check !!
1923544 check !!
1923545 check !!
1923546 check !!
1923547 check !!
1923549 check !!
1923551 check !!
1923553 check !!
1923554 check !!
1923555 check !!
1923557 check !!
1923558 check !!
1923559 check !!
1923561 check !!
1923562 check !!
1923563 check !!
1923564 check !!
1923565 check !!
1923566 check !!
1923577 check !!
1923578 check !!
1923579 check !!
1923580 check !!
1923582 check !!
1923583 check !!
1923584 check !!
1923593 check !!
1923594 check !!
1923595 check !!
1923596 check !!
1923597 check !!
1923598 check !!
1923599 check !!
1923600 check !!
1923601 check !!
1923602 check !!
1923603 check !!
1923604 check !!
1923605 check !!
1923606 check !!
1923607 check !!
1923608 check !!
1923609 check !!
1923610 check !!
1923611 check !!
1923612 check !!
1923613 check !!
1923614 check !!
1923615 check !!
1923617 check !!
1923618 check !!
1923619 check !!
1923621 check !!
1923622 check !!
1923623 check !!
1923625 check !!
1923626 check !!
1923627 check !!
1923628 check !!
1923629 check !!
1923630 check !!
1923631 check !!
1923632 check !!
1923633 check !!
1923634 check !!
1923635 check !!
1923636 check !!
1923637 check !!
1923639 check !!
1923640 check !!
1923641 check !!
1923642 check !!
1923643 check !!
1923644 check !!
1923646 check !!
1923647 check !!
1923648 check !!
1923649 check !!
1923650 check !!
1923651 check !!
1923652 check !!
1923653 check !!
1923654 check !!
1923655 check !!
1923656 check !!
1923657 check !!
1923658 check !!
1923659 check !!
1923660 check !!
1923661 check !!
1923662 check !!
1923663 check !!
1923664 check !!
1923665 check !!
1923667 check !!
1923668 check !!
1923669 check !!
1923670 check !!
1923671 check !!
1923672 check !!
1923673 check !!
1923674 check !!
1923675 check !!
1923676 check !!
1923677 check !!
1923678 check !!
1923679 check !!
1923680 check !!
1923682 check !!
1923683 check !!
1923684 check !!
1923685 check !!
1923686 check !!
1923687 check !!
1923688 check !!
1923689 check !!
1923690 check !!
1923691 check !!
1923692 check !!
1923693 check !!
1923695 check !!
1923696 check !!
1923697 check !!
1923698 check !!
1923699 check !!
1923701 check !!
1923702 check !!
1923703 check !!
1923704 check !!
1923705 check !!
1923706 check !!
1923707 check !!
1923708 check !!
1923709 check !!
1923710 check !!
1923713 check !!
1923714 check !!
1923715 check !!
1923716 check !!
1923717 check !!
1923718 check !!
1923719 check !!
1923721 check !!
1923722 check !!
1923723 check !!
1923724 check !!
1923725 check !!
1923726 check !!
1923727 check !!
1923730 check !!
1923731 check !!
1923732 check !!
1923735 check !!
1923736 check !!
1923737 check !!
1923738 check !!
1923739 check !!
1923740 check !!
1923741 check !!

In [89]:
import sqlite3
con = sqlite3.connect("NameNode.sqlite")   
Dummymaster = pd.DataFrame(columns=("species","genus","family","order","class","phylum","superkingdom","norank"))
count = 0
#txidtest = txidOnly[4948:5000]
#for tid in txidtest:
for tid in txidOnly:
    ntid = int(tid)
    
    #print(tid)
    df = pd.read_sql_query("SELECT tax_id, name_txt,parent_tax_id, rank FROM NcbiNameNode WHERE tax_id == ? AND name_class == 'scientific name'", con=con, params = (ntid,))
    if df.size == 0:
        #print(str(tid) + " check !!")
        count += 1
        continue
    classi = {'taxid': tid,'species': 'unclassified','genus': 'unclassified','family': 'unclassified','order': 'unclassified','class': 'unclassified','phylum': 'unclassified','superkingdom': 'unclassified','norank': 'unclassified'}
    level = df['rank'][0]
    parent = df['parent_tax_id'][0]
    sciname = df['name_txt'][0]
    taxid = int(df['tax_id'][0])

    while parent != 1:
        #print(taxid)
        con = sqlite3.connect("NameNode.sqlite")
        df = pd.read_sql_query("SELECT tax_id, name_txt,parent_tax_id, rank FROM NcbiNameNode WHERE tax_id == ? AND name_class == 'scientific name'", con = con, params=(taxid,))
        #con.close()
        #df
        
        level = df['rank'][0]
        parent = df['parent_tax_id'][0]
        sciname = df['name_txt'][0]
        #tax_id = df['tax_id'][0]
        taxid = int(df['parent_tax_id'][0])
        classi[level] = sciname
        #classi
    # df = pd.DataFrame.from_dict(sales)
    temp = pd.DataFrame.from_dict([classi])
    temp = temp[['taxid','species','genus','family','order','class','phylum','superkingdom','norank']]
    #temp
    #Dummymaster = Dummymaster.append(temp)
    Dummymaster = pd.concat([Dummymaster,temp],axis=0,join='outer')
    #Dummymaster
    

con.close()
Dummymaster = Dummymaster.reset_index()
Dummymaster[['taxid']] = Dummymaster[['taxid']].astype(int)
#list(Dummymaster)
Dummymaster= Dummymaster[['taxid','species','genus','family','order','class','phylum','superkingdom','norank']] 
print("number of unidentified taxid in db = " + str(count) )

Dummymaster.head()
Dummymaster.shape

number of unidentified taxid in db = 1571

,taxid,species,genus,family,order,class,phylum,superkingdom,norank
0,9,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms
1,33,Myxococcus fulvus,Myxococcus,Myxococcaceae,Myxococcales,Deltaproteobacteria,Proteobacteria,Bacteria,cellular organisms
2,139,Borreliella burgdorferi,Borreliella,Borreliaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms
3,140,Borrelia hermsii,Borrelia,Borreliaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms
4,158,Treponema denticola,Treponema,Spirochaetaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms

(12379, 9)

## Identifying bacteria only

In [91]:
BacteriaOnly = Dummymaster.loc[(Dummymaster.superkingdom == 'Bacteria')]
BacteriaOnly.head()
BacteriaOnly.shape

,taxid,species,genus,family,order,class,phylum,superkingdom,norank
0,9,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms
1,33,Myxococcus fulvus,Myxococcus,Myxococcaceae,Myxococcales,Deltaproteobacteria,Proteobacteria,Bacteria,cellular organisms
2,139,Borreliella burgdorferi,Borreliella,Borreliaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms
3,140,Borrelia hermsii,Borrelia,Borreliaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms
4,158,Treponema denticola,Treponema,Spirochaetaceae,Spirochaetales,Spirochaetia,Spirochaetes,Bacteria,cellular organisms

(1039, 9)

In [104]:
# pd.merge(df1, df2, on='column_name', how='inner')
BacteriaG2p= pd.merge(BacteriaOnly,gene2pubmed, left_on='taxid', right_on='tax_id', how='inner')
BacteriaG2p = BacteriaG2p.drop(['taxid'], axis = 1)
BacteriaG2p.head()
BacteriaG2p.shape

,species,genus,family,order,class,phylum,superkingdom,norank,tax_id,GeneID,PubMed_ID
0,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246500,9873079
1,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246501,9873079
2,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246502,9812361
3,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246502,9873079
4,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246503,9873079

(2102509, 11)

To save myself the pain of searching through gene descriptions manually, lets also upload the table of gene info

In [99]:
geneinfo = pd.read_table("data/genbank-data/gene_info_cut1-3_9-10", sep = "\t")
list(geneinfo) # darnit # in column header again !

geneinfo.rename(columns={'#tax_id':'tax_id'}, inplace=True)
list(geneinfo)

geneinfo.head()

['#tax_id', 'GeneID', 'Symbol', 'description', 'type_of_gene']

In [105]:
BacteriaG2p_geneinfo = pd.merge(BacteriaG2p,geneinfo, left_on='GeneID', right_on='GeneID', how='inner')
BacteriaG2p_geneinfo.shape

(2102508, 15)

## Most studied genes in Bacteria

In [124]:
BacteriaG2p_gene_gp_pubmedCount = BacteriaG2p_geneinfo.groupby('GeneID', as_index=False)['PubMed_ID'].agg({'PubMed_pubs': "count",'PubMed_uniqpubs': "nunique"}) # because pandas preserves the row index and we need it reset to be sorted
#BacteriaG2p_gene_gp_pubmedCount.head()
BacteriaG2p_gene_gp_pubmedCount2 = pd.merge(BacteriaG2p_gene_gp_pubmedCount, BacteriaG2p_geneinfo[['GeneID','Symbol','description']], on= 'GeneID', how='left')
#BacteriaG2p_gene_gp_pubmedCount2.head()
#BacteriaG2p_gene_gp_pubmedCount2.shape

BacteriaG2p_gene_gp_pubmedCount2 = BacteriaG2p_gene_gp_pubmedCount2.drop_duplicates()
#BacteriaG2p_gene_gp_pubmedCount2.head()
BacteriaG2p_gene_gp_pubmedCount2 = BacteriaG2p_gene_gp_pubmedCount2.reset_index(drop=True)
#BacteriaG2p_gene_gp_pubmedCount2.head()
#BacteriaG2p_gene_gp_pubmedCount2.shape

BacteriaG2p_gene_gp_pubmedCount2.sort_values('PubMed_pubs', ascending=False).head(n=10)
BacteriaG2p_gene_gp_pubmedCount2.sort_values('PubMed_uniqpubs', ascending=False).head(n=10)


BacteriaG2p_gene_gp_pubmedCount2.sort_values('PubMed_pubs', ascending=False).tail(n=10)
BacteriaG2p_gene_gp_pubmedCount2.sort_values('PubMed_uniqpubs', ascending=False).tail(n=10)

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description
42993,948466,697,697,rrsB,16S ribosomal RNA of rrnB operon
42322,947777,678,678,rrsD,16S ribosomal RNA of rrnD operon
41642,947071,677,677,rrsG,16S ribosomal RNA of rrnG operon
39536,944897,677,677,rrsH,16S ribosomal RNA of rrnH operon
43036,948511,677,677,rrsE,16S ribosomal RNA of rrnE operon
42803,948270,676,676,rrsC,16S ribosomal RNA of rrnC operon
43000,948473,473,473,rrlB,23S ribosomal RNA of rrnB operon
42134,947585,457,457,rrlG,23S ribosomal RNA of rrnG operon
43034,948509,456,456,rrlE,23S ribosomal RNA of rrnE operon
42318,947773,454,454,rrlD,23S ribosomal RNA of rrnD operon

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description
42993,948466,697,697,rrsB,16S ribosomal RNA of rrnB operon
42322,947777,678,678,rrsD,16S ribosomal RNA of rrnD operon
41642,947071,677,677,rrsG,16S ribosomal RNA of rrnG operon
39536,944897,677,677,rrsH,16S ribosomal RNA of rrnH operon
43036,948511,677,677,rrsE,16S ribosomal RNA of rrnE operon
42803,948270,676,676,rrsC,16S ribosomal RNA of rrnC operon
43000,948473,473,473,rrlB,23S ribosomal RNA of rrnB operon
42134,947585,457,457,rrlG,23S ribosomal RNA of rrnG operon
43034,948509,456,456,rrlE,23S ribosomal RNA of rrnE operon
42318,947773,454,454,rrlD,23S ribosomal RNA of rrnD operon

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description
647507,23389632,1,1,SMDB11_RS16085,PTS N-acetylgalactosamine transporter subunit IIB
647506,23389631,1,1,SMDB11_RS16080,PTS acetylgalactosamine transporter subunit IIC
647505,23389630,1,1,SMDB11_RS16075,PTS N-acetylgalactosamine transporter subunit IID
647504,23389629,1,1,SMDB11_RS16070,PTS N-acetylgalactosamine transporter subunit IIA
647503,23389628,1,1,SMDB11_RS16065,ABC transporter ATP-binding protein
647502,23389627,1,1,SMDB11_RS16060,hypothetical protein
647501,23389626,1,1,SMDB11_RS16055,DsbA family protein
647500,23389625,1,1,SMDB11_RS16050,MBL fold metallo-hydrolase
647499,23389624,1,1,SMDB11_RS16045,LysR family transcriptional regulator
1608631,36020782,1,1,GY21_RS16245,mannitol dehydrogenase family protein

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description
647507,23389632,1,1,SMDB11_RS16085,PTS N-acetylgalactosamine transporter subunit IIB
647506,23389631,1,1,SMDB11_RS16080,PTS acetylgalactosamine transporter subunit IIC
647505,23389630,1,1,SMDB11_RS16075,PTS N-acetylgalactosamine transporter subunit IID
647504,23389629,1,1,SMDB11_RS16070,PTS N-acetylgalactosamine transporter subunit IIA
647503,23389628,1,1,SMDB11_RS16065,ABC transporter ATP-binding protein
647502,23389627,1,1,SMDB11_RS16060,hypothetical protein
647501,23389626,1,1,SMDB11_RS16055,DsbA family protein
647500,23389625,1,1,SMDB11_RS16050,MBL fold metallo-hydrolase
647499,23389624,1,1,SMDB11_RS16045,LysR family transcriptional regulator
1608631,36020782,1,1,GY21_RS16245,mannitol dehydrogenase family protein

In [121]:
# What types of gene descriptions do we have
BacteriaG2p_geneinfo.type_of_gene.unique()

array(['protein-coding', 'other', 'rRNA', 'pseudo', 'ncRNA', 'tRNA',
       'miscRNA'], dtype=object)

#### Lets see what non-rRNA genes or 'protein-coding' genes are most studied

In [125]:
BacteriaG2p_gene_gp_pubmedCount2_coding = pd.merge(BacteriaG2p_gene_gp_pubmedCount, BacteriaG2p_geneinfo[['GeneID','Symbol','description','type_of_gene']], on= 'GeneID', how='left')
# subset protein-coding only
# df.loc[df['column_name'] == some_value]
BacteriaG2p_gene_gp_pubmedCount2_coding = BacteriaG2p_gene_gp_pubmedCount2_coding.loc[BacteriaG2p_gene_gp_pubmedCount2_coding['type_of_gene'] == 'protein-coding']
BacteriaG2p_gene_gp_pubmedCount2_coding = BacteriaG2p_gene_gp_pubmedCount2_coding.drop_duplicates()
BacteriaG2p_gene_gp_pubmedCount2_coding = BacteriaG2p_gene_gp_pubmedCount2_coding.reset_index(drop=True)

BacteriaG2p_gene_gp_pubmedCount2_coding.sort_values('PubMed_pubs', ascending=False).head(n=10)
BacteriaG2p_gene_gp_pubmedCount2_coding.sort_values('PubMed_uniqpubs', ascending=False).head(n=10)


BacteriaG2p_gene_gp_pubmedCount2_coding.sort_values('PubMed_pubs', ascending=False).tail(n=10)
BacteriaG2p_gene_gp_pubmedCount2_coding.sort_values('PubMed_uniqpubs', ascending=False).tail(n=10)

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description,type_of_gene
41594,947170,418,418,recA,DNA recombination and repair protein; ssDNA-de...,protein-coding
42798,948488,333,333,rpoB,"RNA polymerase, beta subunit",protein-coding
42558,948217,310,310,dnaA,chromosomal replication initiator protein DnaA...,protein-coding
39361,944750,309,309,dnaK,"chaperone Hsp70, with co-chaperone DnaJ",protein-coding
42228,947867,309,309,crp,"cAMP-activated global transcription factor, me...",protein-coding
39395,944786,297,297,ftsZ,GTP-binding tubulin-like cell division protein,protein-coding
41950,947567,291,291,rpoD,"RNA polymerase, sigma 70 (sigma D) factor",protein-coding
41629,947210,287,287,rpoS,"RNA polymerase, sigma S (sigma 38) factor",protein-coding
42797,948487,266,266,rpoC,"RNA polymerase, beta prime subunit",protein-coding
40341,945829,264,264,hns,global DNA-binding transcriptional dual regula...,protein-coding

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description,type_of_gene
41594,947170,418,418,recA,DNA recombination and repair protein; ssDNA-de...,protein-coding
42798,948488,333,333,rpoB,"RNA polymerase, beta subunit",protein-coding
42558,948217,310,310,dnaA,chromosomal replication initiator protein DnaA...,protein-coding
39361,944750,309,309,dnaK,"chaperone Hsp70, with co-chaperone DnaJ",protein-coding
42228,947867,309,309,crp,"cAMP-activated global transcription factor, me...",protein-coding
39395,944786,297,297,ftsZ,GTP-binding tubulin-like cell division protein,protein-coding
41950,947567,291,291,rpoD,"RNA polymerase, sigma 70 (sigma D) factor",protein-coding
41629,947210,287,287,rpoS,"RNA polymerase, sigma S (sigma 38) factor",protein-coding
42797,948487,266,266,rpoC,"RNA polymerase, beta prime subunit",protein-coding
40341,945829,264,264,hns,global DNA-binding transcriptional dual regula...,protein-coding

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description,type_of_gene
647063,23389817,1,1,SMDB11_RS17010,hypothetical protein,protein-coding
647062,23389816,1,1,SMDB11_RS17005,molybdopterin-guanine dinucleotide biosynthesi...,protein-coding
647061,23389815,1,1,SMDB11_RS17000,aldehyde oxidase,protein-coding
647060,23389814,1,1,SMDB11_RS16995,(2Fe-2S)-binding protein,protein-coding
647059,23389813,1,1,SMDB11_RS16990,cytochrome Cbb3,protein-coding
647058,23389812,1,1,SMDB11_RS16985,aromatic amino acid transporter,protein-coding
647057,23389811,1,1,SMDB11_RS16980,transcriptional regulator PdhR,protein-coding
647056,23389810,1,1,SMDB11_RS16975,"pyruvate dehydrogenase (acetyl-transferring), ...",protein-coding
647055,23389809,1,1,aceF,pyruvate dehydrogenase complex dihydrolipoylly...,protein-coding
1608007,36020782,1,1,GY21_RS16245,mannitol dehydrogenase family protein,protein-coding

,GeneID,PubMed_pubs,PubMed_uniqpubs,Symbol,description,type_of_gene
647063,23389817,1,1,SMDB11_RS17010,hypothetical protein,protein-coding
647062,23389816,1,1,SMDB11_RS17005,molybdopterin-guanine dinucleotide biosynthesi...,protein-coding
647061,23389815,1,1,SMDB11_RS17000,aldehyde oxidase,protein-coding
647060,23389814,1,1,SMDB11_RS16995,(2Fe-2S)-binding protein,protein-coding
647059,23389813,1,1,SMDB11_RS16990,cytochrome Cbb3,protein-coding
647058,23389812,1,1,SMDB11_RS16985,aromatic amino acid transporter,protein-coding
647057,23389811,1,1,SMDB11_RS16980,transcriptional regulator PdhR,protein-coding
647056,23389810,1,1,SMDB11_RS16975,"pyruvate dehydrogenase (acetyl-transferring), ...",protein-coding
647055,23389809,1,1,aceF,pyruvate dehydrogenase complex dihydrolipoylly...,protein-coding
1608007,36020782,1,1,GY21_RS16245,mannitol dehydrogenase family protein,protein-coding

#### Species ?

In [146]:
import numpy as np
#BacteriaG2p.head(n=2)

Bacteria_spp_pubmeduniqCount = BacteriaG2p.groupby('tax_id', as_index=False)['PubMed_ID'].agg({'Pubmed_count': "count",'Pubmed_uniqcount': 'nunique'}) # because pandas preserves the row index and we need it reset to be sorted
#Bacteria_pubmedCount.head()

spp_pubmeduniqCountspp =  Bacteria_spp_pubmeduniqCount[['tax_id','Pubmed_uniqcount']].sort_values('Pubmed_uniqcount', ascending=False)
spp_pubmeduniqCountspp['Pubmed_uniqCount_percent'] = (spp_pubmeduniqCountspp['Pubmed_uniqcount']/spp_pubmeduniqCountspp['Pubmed_uniqcount'].sum())*100
spp_pubmeduniqCountspp.head(n=10)
#totalpubmeduniqCountspp.tail(n=10)

spp_pubmeduniqCountspp2 = pd.merge(spp_pubmeduniqCountspp,BacteriaG2p[['tax_id','species']], on='tax_id', how='left')
spp_pubmeduniqCountspp2 = spp_pubmeduniqCountspp2.drop_duplicates()
spp_pubmeduniqCountspp2 = spp_pubmeduniqCountspp2.reset_index(drop=True)
spp_pubmeduniqCountspp2.head(n=10)
spp_pubmeduniqCountspp2.tail(n=10)

,species,genus,family,order,class,phylum,superkingdom,norank,tax_id,GeneID,PubMed_ID
0,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246500,9873079
1,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246501,9873079

     tax_id  Pubmed_uniqcount  Pubmed_uniqCount_percent
721  511145             35636                 53.550122
643  386585              3204                  4.814642
490  224308              2395                  3.598960
363   83332              1968                  2.957308
383   99287              1557                  2.339700
473  208964              1519                  2.282597
47      562               974                  1.463627
572  300852               719                  1.080439
460  198214               668                  1.003802
384  100226               656                  0.985769

,tax_id,Pubmed_uniqcount,Pubmed_uniqCount_percent,species
0,511145,35636,53.550122,Escherichia coli
1,386585,3204,4.814642,Escherichia coli
2,224308,2395,3.598960,Bacillus subtilis
3,83332,1968,2.957308,Mycobacterium tuberculosis
4,99287,1557,2.339700,Salmonella enterica
5,208964,1519,2.282597,Pseudomonas aeruginosa
6,562,974,1.463627,Escherichia coli
7,300852,719,1.080439,Thermus thermophilus
8,198214,668,1.003802,Shigella flexneri
9,100226,656,0.985769,Streptomyces coelicolor

,tax_id,Pubmed_uniqcount,Pubmed_uniqCount_percent,species
1029,1464,1,0.001503,Paenibacillus larvae
1030,360016,1,0.001503,Rahnella sp. 'WMR15'
1031,359132,1,0.001503,Bifidobacterium sp. A24
1032,1478,1,0.001503,Bacillus simplex
1033,357244,1,0.001503,Orientia tsutsugamushi
1034,356621,1,0.001503,Salmonella enterica
1035,355276,1,0.001503,Leptospira borgpetersenii
1036,349741,1,0.001503,Akkermansia muciniphila
1037,349519,1,0.001503,Leuconostoc citreum
1038,1771959,1,0.001503,Arthrobacter sp. ATCC 21022

In [154]:
## 349741 #Akkermansia muciniphila

#Akkermansia_muciniphila = BacteriaG2p.loc[(BacteriaG2p.tax_id == 349741)]
#Akkermansia_muciniphila = Akkermansia_muciniphila.drop_duplicates()
#Akkermansia_muciniphila = Akkermansia_muciniphila.reset_index(drop=True)
#Akkermansia_muciniphila

#### Genus

In [147]:
import numpy as np
#BacteriaG2p.head(n=2)

Bacteria_genus_pubmeduniqCount = BacteriaG2p.groupby('genus', as_index=False)['PubMed_ID'].agg({'Pubmed_count': "count",'Pubmed_uniqcount': 'nunique'}) # because pandas preserves the row index and we need it reset to be sorted
#Bacteria_pubmedCount.head()

genus_pubmeduniqCountspp =  Bacteria_genus_pubmeduniqCount[['genus','Pubmed_uniqcount']].sort_values('Pubmed_uniqcount', ascending=False)
genus_pubmeduniqCountspp['Pubmed_uniqCount_percent'] = (genus_pubmeduniqCountspp['Pubmed_uniqcount']/genus_pubmeduniqCountspp['Pubmed_uniqcount'].sum())*100
genus_pubmeduniqCountspp.head(n=10)
#totalpubmeduniqCountspp.tail(n=10)

#genus_pubmeduniqCountspp2 = pd.merge(genus_pubmeduniqCountspp,BacteriaG2p[['genus','genus']], on='tax_id', how='left')
#genus_pubmeduniqCountspp2 = genus_pubmeduniqCountspp2.drop_duplicates()
#genus_pubmeduniqCountspp2 = genus_pubmeduniqCountspp2.reset_index(drop=True)
#genus_pubmeduniqCountspp2.head(n=10)
#genus_pubmeduniqCountspp2.tail(n=10)

,species,genus,family,order,class,phylum,superkingdom,norank,tax_id,GeneID,PubMed_ID
0,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246500,9873079
1,Buchnera aphidicola,Buchnera,Enterobacteriaceae,Enterobacteriales,Gammaproteobacteria,Proteobacteria,Bacteria,cellular organisms,9,1246501,9873079

              genus  Pubmed_uniqcount  Pubmed_uniqCount_percent
76      Escherichia             37141                 60.194159
22         Bacillus              3039                  4.925286
139   Mycobacterium              2442                  3.957732
179     Pseudomonas              2326                  3.769732
199      Salmonella              1847                  2.993420
215   Streptococcus               965                  1.563969
212  Staphylococcus               848                  1.374348
216    Streptomyces               805                  1.304658
203        Shigella               765                  1.239830
230         Thermus               720                  1.166899