In [1]:
import pandas as pd
gene2pubmed = pd.read_table("data/genbank-data/gene2pubmed", sep = "\t")

In [2]:
gene_gp_pubmedCount = gene2pubmed.groupby('GeneID', as_index=False)['PubMed_ID'].agg({'PubMed_pubs': "count"}) # because pandas preserves the row index and we need it reset to be sorted
gene_gp_pubmedCount.sort_values('PubMed_pubs', ascending=False).head(n=10)

       GeneID  PubMed_pubs
5667     7157         8759
10845   14910         7332
5639     7124         5414
1554     1956         4870
5887     7422         4166
14461   22059         4095
292       348         4074
2797     3569         4052
5560     7040         3817
21000   31271         3613